name: Lint

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.svg'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.svg'

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install Flake8
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8
      - name: Flake8
        run: flake8 sourceplusplus
